.scoreBoardTeamInfo {
  .teamName {
    font-weight: bold;
    font-size: 15px;
    display: inline;

    :global(.ant-tag) {
      opacity: 0.8;
      line-height: 12px;
      padding: 2px 4px;
      font-weight: normal;
      font-size: 12px;
    }
  }

  .teamInfo {
    opacity: 0.7;
  }

  .iconWithChinese {
    display: inline;
    opacity: 0.36;
  }
}
