.simpleScoreBoard {
  .largeRank {
    width: 60px;
    @media (max-width: 650px) {
      display: none;
    }
  }

  .smallRank {
    width: 36px;
    @media (min-width: calc(650px + 1px)) {
      display: none;
    }
  }

  .largeTeam {
    width: calc(100% - 300px);
    @media (max-width: 650px) {
      display: none;
    }
  }

  .smallTeam {
    width: calc(100% - 300px);
    @media (min-width: calc(650px + 1px)) {
      display: none;
    }
  }
}
