$small-board: 650px;

.simpleScoreBoard {
  .largeRank {
    width: 60px;
    @media (max-width: $small-board) {
      display: none;
    }
  }

  .smallRank {
    width: 36px;
    @media (min-width: $small-board + 1) {
      display: none;
    }
  }

  .largeTeam {
    width: calc(100% - 300px);
    @media (max-width: $small-board) {
      display: none;
    }
  }

  .smallTeam {
    width: calc(100% - 300px);
    @media (min-width: $small-board + 1) {
      display: none;
    }
  }
}
