.simpleScoreBoard {
  --small-board: 650px;

  .largeRank {
    width: 60px;
    @media (max-width: var(--small-board)) {
      display: none;
    }
  }

  .smallRank {
    width: 36px;
    @media (min-width: calc(var(--small-board) + 1px)) {
      display: none;
    }
  }

  .largeTeam {
    width: calc(100% - 300px);
    @media (max-width: var(--small-board)) {
      display: none;
    }
  }

  .smallTeam {
    width: calc(100% - 300px);
    @media (min-width: calc(var(--small-board) + 1px)) {
      display: none;
    }
  }
}
