.collapseCard {
  :global(.ant-collapse-header) {
    padding: 8px 12px !important;
    font-size: 14px;
    font-weight: bold !important;
    background: #f0f0f0 !important;
    border-radius: 4px !important;
  }

  :global(.ant-collapse-content) {
    border-top: 1px #f0f0f0 !important;
    background: #fcfcfc !important;
  }

  :global(.ant-collapse-item-active) {
    :global(.ant-collapse-header) {
      border-radius: 4px 4px 0 0 !important;
    }
  }
}
