.tab {
  position: relative;
  display: inline-block;

  padding: 0.5rem 0.5rem;

  &:hover::after {
    border-bottom-color: oklch(var(--bc) / 0.6);
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -0.125rem;
    left: 0.25rem;
    right: 0.25rem;
    border-bottom-width: 0.125rem;
    border-bottom-color: oklch(var(--bc) / 0);
  }
}

.tabActive {
  &:after {
    border-bottom-color: oklch(var(--bc) / 1);
  }

  &:hover::after {
    border-bottom-color: oklch(var(--bc) / 1);
  }
}
