.template {
  overflow-wrap: break-word;
  font-size: 16px;

  h1 {
    @apply mb-2 mt-2 text-[2rem] font-bold;
  }

  h2 {
    @apply mb-2 mt-2 text-2xl font-bold;
  }

  h3 {
    @apply mb-2 mt-2 text-xl font-bold;
  }

  h4 {
    @apply mb-2 mt-2 text-base font-bold;
  }

  h5 {
    @apply mb-2 mt-2 text-base font-bold;
  }

  h6 {
    @apply mb-2 mt-2 text-base font-bold;
  }

  ul {
    @apply list-disc pl-4 text-base;
  }

  p {
    @apply mb-2 mt-2 text-base leading-normal;
  }

  blockquote {
    padding: 0.125em 1em;
    margin: 0.5em 0;
    border-left: 5px solid oklch(var(--b3));
    color: oklch(var(--bc) / 0.65);
  }

  del {
    opacity: 0.6;
  }

  img {
    width: 50%;
    display: block;
    margin: 0 auto;
  }

  a:link {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  a:visited {
    color: #0056b3;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    color: #0056b3;
  }

  strong {
    @apply text-red-700;
  }

  table {
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid oklch(var(--b3));
    padding: 8px;
  }

  thead {
    background-color: oklch(var(--b3));
  }

  tr:nth-child(even) {
    background-color: oklch(var(--b2));
  }

  :global(.well) {
    padding: 0.25em 1em;
    margin: 0.75em 0;
    border: 2px dashed black;
    border-radius: 0.5em;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  /* Ant Design 样式按钮 */
  :global(.fancy-button) {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    touch-action: manipulation;
    font-size: 16px;
    line-height: 1.5;
    height: 40px;
    padding: 7px 15px;
    border-radius: 8px;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.88);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);

    &:hover {
      border-color: #1677ff;
      color: #1677ff;
    }
  }
}
