.puzzleStatisticsTable {
  --small-board: 650px;
  .areaTitle {
    display: inline;
    font-size: 16px;
  }

  :global(td).areaTd {
    vertical-align: top;
  }

  .areaTd {
    width: 140px;
    @media (max-width: var(--small-board)) {
      width: 102px;
    }
  }
}
