.hintsList {
  :global(.ant-collapse) {
    margin-bottom: 16px;

    :global(.ant-collapse-header) {
      padding: 9px 12px;
    }

    :global(.ant-collapse-extra) {
      margin: auto;
    }
  }

  :global(.ant-collapse-item-disabled) {
    :global(.ant-collapse-header) {
      cursor: unset;
    }
  }
}
