.puzzleList {
  margin-bottom: 16px;

  :global(.puzzle-row) {
    display: flex;
    flex-direction: row;
    padding: 6px 0;
    height: 38px;
    width: 100%;

    border-top: 1px solid oklch(var(--b3));
    border-left: 1px solid oklch(var(--b3));
    border-right: 1px solid oklch(var(--b3));

    &:first-child {
      border-top-left-radius: var(--rounded-btn);
      border-top-right-radius: var(--rounded-btn);
    }

    &:last-child {
      border-bottom-left-radius: var(--rounded-btn);
      border-bottom-right-radius: var(--rounded-btn);
      border-bottom: 1px solid oklch(var(--b3));
    }

    &:not(:global(.puzzle-row-select)):hover {
      background-color: oklch(var(--b3));
    }

    :global(.puzzle-title) {
      padding-left: 8px;
      flex: 1 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  :global(.puzzle-row-select) {
    background-color: oklch(var(--b3));
  }

  :global(.puzzle-row-disabled) {
    display: flex;
    flex-direction: row;
    padding: 6px 0;
    height: 38px;
    background: repeating-linear-gradient(
      -45deg,
      oklch(var(--b2)),
      oklch(var(--b2)) 10px,
      oklch(var(--b1)) 10px,
      oklch(var(--b1)) 20px
    );
    width: 100%;

    border-top: 1px solid oklch(var(--b3));
    border-left: 1px solid oklch(var(--b3));
    border-right: 1px solid oklch(var(--b3));

    &:first-child {
      border-top-left-radius: var(--rounded-btn);
      border-top-right-radius: var(--rounded-btn);
    }

    &:last-child {
      border-bottom-left-radius: var(--rounded-btn);
      border-bottom-right-radius: var(--rounded-btn);
      border-bottom: 1px solid oklch(var(--b3));
    }

    &:hover {
      background-color: oklch(var(--b3));
    }

    :global(.puzzle-title) {
      padding-left: 8px;
      flex: 1 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
