@layer theme, base, antd, components, utilities;

@import 'tailwindcss';
@import 'tw-animate-css';
@import './themes.css';

@custom-variant not-last (&:not(:last-child));

@plugin "daisyui" {
  themes: light, corporate, cupcake, dark, dracula, luxury;
}

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-w640: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1600px;
}

/* 主题颜色相关配置，主题见 themes.css */
@theme {
  --color-neutral-hover: color-mix(in oklch, var(--color-neutral), #000 20%);

  /* --color-base-100: var(--color-base-100);
  --color-base-200: var(--color-base-200);
  --color-base-300: var(--color-base-300);
  --color-base-content: var(--color-base-content);

  --color-primary: var(--color-primary);
  --color-primary-content: var(--color-primary-content);
  --color-secondary: var(--color-secondary);
  --color-secondary-content: var(--color-secondary-content);
  --color-accent: var(--color-accent);
  --color-accent-content: var(--color-accent-content);
  --color-neutral: var(--color-neutral);

  --color-neutral-lighten-1: color-mix(in oklch, var(--color-neutral), #fff 10%);
  --color-neutral-darken-1: color-mix(in oklch, var(--color-neutral), #000 10%);
  --color-neutral-content: var(--color-neutral-content);

  --color-info: var(--color-info);
  --color-info-content: var(--color-info-content);
  --color-success: var(--color-success);
  --color-success-content: var(--color-success-content);
  --color-error: var(--color-error);
  --color-error-content: var(--color-error-content);
  --color-warning: var(--color-warning);
  --color-warning-content: var(--color-warning-content); */
}

:root {
  --border-radius: 12px;
  --font-mono:
    ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
    'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 200;
  src: url('/mion/fonts/noto-sans-sc-v39-chinese-simplified_latin-200.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  src: url('/mion/fonts/noto-sans-sc-v39-chinese-simplified_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 800;
  src: url('/mion/fonts/noto-sans-sc-v39-chinese-simplified_latin-800.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 400;
  src: url('/mion/fonts/noto-serif-sc-v34-chinese-simplified_latin-regular.woff2') format('woff2');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  overflow-y: scroll !important;
}

a {
  /*color: inherit;*/
  text-decoration: none;
}

.slim-container {
  max-width: 850px;
  margin: 0 auto;
}

a.link-nostyle {
  text-decoration: none; /* 移除下划线 */
  color: inherit; /* 继承其父元素的颜色 */
  cursor: default; /* 使用默认的指针样式，而不是链接的手型指针 */
}

.router-menu {
  .ant-menu-item {
    padding: 0 10px !important;

    &:after {
      left: 10px !important;
      right: 10px !important;
    }

    &:first-child {
      padding-left: 0 !important;
    }

    &:first-child:after {
      left: 0 !important;
    }
  }
}

.push-notification {
  &.ant-notification-notice {
    padding: 12px;
  }

  .ant-notification-notice-icon {
    transform: translateY(8px);
  }

  .ant-notification-notice-close {
    top: 10px;
    right: 16px;
    transform: scale(1.5);
  }

  .ant-notification-notice-message {
    font-weight: bold;
  }

  &.ant-notification-notice-info {
    .ant-notification-notice-icon {
      color: #108ee9;
    }
  }

  &.ant-notification-notice-success {
    .ant-notification-notice-icon {
      color: #52c41a;
    }
  }
}
