/* 参考 daisyui 的主题系统 */

[data-theme='light'] {
  color-scheme: light;

  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(96.1151% 0 0);
  --color-base-300: oklch(92.4169% 0.00108 197.137559);
  --color-base-content: oklch(27.8078% 0.029596 256.847952);

  --color-primary: oklch(49.12% 0.3096 275.75);
  --color-primary-content: oklch(89.824% 0.06192 275.75);
  --color-secondary: oklch(69.71% 0.329 342.55);
  --color-secondary-content: oklch(98.71% 0.0106 342.55);
  --color-accent: oklch(76.76% 0.184 183.61);
  --color-accent-content: oklch(15.352% 0.0368 183.61);
  --color-neutral: oklch(32.1785% 0.02476 255.701624);
  --color-neutral-content: oklch(89.4994% 0.011585 252.096176);

  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

[data-theme='light-v5'] {
  color-scheme: light;

  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);

  --color-primary: oklch(45% 0.24 277.023);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);

  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

[data-theme='dark'] {
  color-scheme: dark;

  --color-base-100: oklch(25.3267% 0.015896 252.417568);
  --color-base-200: oklch(23.2607% 0.013807 253.100675);
  --color-base-300: oklch(21.1484% 0.01165 254.087939);
  --color-base-content: oklch(74.6477% 0.0216 264.435964);

  --color-primary: oklch(65.69% 0.196 275.75);
  --color-primary-content: oklch(13.138% 0.0392 275.75);
  --color-secondary: oklch(74.8% 0.26 342.55);
  --color-secondary-content: oklch(14.96% 0.052 342.55);
  --color-accent: oklch(74.51% 0.167 183.61);
  --color-accent-content: oklch(14.902% 0.0334 183.61);
  --color-neutral: oklch(31.3815% 0.021108 254.139175);
  --color-neutral-content: oklch(74.6477% 0.0216 264.435964);

  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

[data-theme='dark-v5'] {
  color-scheme: dark;

  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);

  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);

  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
