name: Check Frontend

on:
  pull_request:
    branches:
      - main

jobs:
  check-frontend-changes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check for changes in frontend directory
        id: frontend-check
        run: |
          git fetch origin main
          # Check if there are any changes in the frontend directory
          if git diff --name-only origin/main | grep '^frontend/'; then
            echo "Frontend directory has changes."
            echo "has_changes=true" >> $GITHUB_ENV
          else
            echo "No changes in frontend directory."
            echo "has_changes=false" >> $GITHUB_ENV
          fi

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        if: env.has_changes == 'true'
        with:
          version: 9
          run_install: false

      - uses: actions/setup-node@v4
        name: Install Node.js
        if: env.has_changes == 'true'
        with:
          node-version: 20
          cache: 'pnpm'
          cache-dependency-path: 'frontend/pnpm-lock.yaml'

      - name: Install dependencies
        if: env.has_changes == 'true'
        working-directory: ./frontend
        run: pnpm install
      
      - name: Copy setup.ts
        if: env.has_changes == 'true'
        working-directory: ./frontend
        run: cp src/setup.example.ts src/setup.ts 

      - name: Run linter
        if: env.has_changes == 'true'
        working-directory: ./frontend
        run: pnpm lint

      - name: Run Prettier check
        if: env.has_changes == 'true'
        working-directory: ./frontend
        run: pnpm prettier:check

      - name: Build project
        if: env.has_changes == 'true'
        working-directory: ./frontend
        run: pnpm build
